html {
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #881c1c;
}
.header--menu {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ul {
  width: 100%;
}
.header--menu--list {
  list-style: none;
  padding: 0 10px;
  border-left: 7px #fff solid;
  width: 150px;
}
.header--menu--link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 200;
}
.header--menu--link:hover {
  animation: any 200ms forwards;
}

@keyframes any {
  100% {
    font-weight: bold;
  }
}

.logotype--link {
  color: white;
  text-decoration: none;
}
.logotype::first-letter {
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: 600;
}
.logotype::first-letter:hover {
  color: rgb(255, 255, 255);
}
.container {
  display: flex;
  max-height: 500px;
  margin: 50px 150px 0 150px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
}
.container h2 {
  border-left: 15px #b9b9b9 solid;
  padding: 0 10px;
  margin: 10px;
}
.avatar--block img {
  border-radius: 100%;
  height: 350px;
}
.block {
  max-width: 60%;
  margin: 0 auto;
  padding: 15px;
}
.about--text {
  padding: 15px;
  line-height: 30px;
}
.about--text::first-letter {
  font-size: 21px;
  font-weight: 700;
}
